# SPDX-License-Identifier: GPL-2.0-or-later
#
# Copyright (C) 2026 Infineon Technologies AG
#
# Target configuration for Infineon AURIX TC38x devices.

if { [info exists CHIPNAME] } {
set _CHIPNAME $CHIPNAME
} else {
set _CHIPNAME tc38x
}

if { [info exists OCMTS_TAPID] } {
set _OCMTS_TAPID $OCMTS_TAPID
} else {
set _OCMTS_TAPID 0x20205083
}

transport select ifxdap
# Create new ocmts
ifxdap newtap $_CHIPNAME ocmts -irlen 8 -expected-id $_OCMTS_TAPID
ocmts create tc3xx -chain-position $_CHIPNAME.ocmts

# Create targets
target create $_CHIPNAME.cpu0 tricore -coreid 0 -ocmts tc3xx -dbgbase 0xF8800000
target create $_CHIPNAME.cpu1 tricore -coreid 1 -ocmts tc3xx -dbgbase 0xF8820000
target create $_CHIPNAME.cpu2 tricore -coreid 2 -ocmts tc3xx -dbgbase 0xF8840000
target create $_CHIPNAME.cpu3 tricore -coreid 3 -ocmts tc3xx -dbgbase 0xF8860000

# Create workarea
$_CHIPNAME.cpu0 configure -work-area-phys 0x70000000 -work-area-size 0x8000 -work-area-backup 0

# Create flash banks
flash bank pfls0 tc3x_eflash 0x80000000 0x300000 0 0 $_CHIPNAME.cpu0
flash bank pfls1 tc3x_eflash 0x80300000 0x300000 0 0 $_CHIPNAME.cpu0
flash bank pfls2 tc3x_eflash 0x80600000 0x300000 0 0 $_CHIPNAME.cpu0
flash bank pfls3 tc3x_eflash 0x80900000 0x100000 0 0 $_CHIPNAME.cpu0

targets $_CHIPNAME.cpu0
