# SPDX-License-Identifier: GPL-2.0-or-later
#
# Copyright (C) 2026 Infineon Technologies AG
#
# Target configuration for Infineon AURIX TC4Dx devices.

if { [info exists CHIPNAME] } {
    set _CHIPNAME $CHIPNAME
} else {
    set _CHIPNAME tc48x
}

if { [info exists OCMTS_TAPID] } {
    set _OCMTS_TAPID $OCMTS_TAPID
} else {
    set _OCMTS_TAPID 0x1021D083
}

transport select ifxdap
# Create new ocmts
ifxdap newtap $_CHIPNAME ocmts -irlen 8 -expected-id $_OCMTS_TAPID
ocmts create tc4xx -chain-position $_CHIPNAME.ocmts

# Create targets
target create $_CHIPNAME.cpu0 tricore -coreid 0 -ocmts tc4xx -dbgbase 0xF8800000
target create $_CHIPNAME.cpu1 tricore -coreid 1 -ocmts tc4xx -dbgbase 0xF8840000
target create $_CHIPNAME.cpu2 tricore -coreid 2 -ocmts tc4xx -dbgbase 0xF8880000
target create $_CHIPNAME.cpu3 tricore -coreid 3 -ocmts tc4xx -dbgbase 0xF88C0000
target create $_CHIPNAME.cpucs tricore -coreid 6 -ocmts tc4xx -dbgbase 0xF8980000

$_CHIPNAME.cpu0 configure -work-area-phys 0x70000000 -work-area-size 0x8000 -work-area-backup 0

# Create flash banks
flash bank prram00 tc4x_rram 0x80000000 0x200000 0 0 $_CHIPNAME.cpu0
flash bank prram01 tc4x_rram 0x80200000 0x200000 0 0 $_CHIPNAME.cpu0
flash bank prram10 tc4x_rram 0x80400000 0x200000 0 0 $_CHIPNAME.cpu0
flash bank prram11 tc4x_rram 0x80600000 0x200000 0 0 $_CHIPNAME.cpu0
flash bank prram20 tc4x_rram 0x80800000 0x200000 0 0 $_CHIPNAME.cpu0
flash bank prram21 tc4x_rram 0x80900000 0x200000 0 0 $_CHIPNAME.cpu0
flash bank prram30 tc4x_rram 0x80A00000 0x200000 0 0 $_CHIPNAME.cpu0
flash bank prram31 tc4x_rram 0x80C00000 0x200000 0 0 $_CHIPNAME.cpu0
flash bank prramcs tc4x_rram 0x84000000 0x80000 0 0 $_CHIPNAME.cpu0
flash bank eeprom0 tc4x_rram 0xAE000000 0x40000 0 0 $_CHIPNAME.cpu0
flash bank ucb0 tc4x_rram 0xAE400000 0x8000 0 0 $_CHIPNAME.cpu0
flash bank eeprom1 tc4x_rram 0xAE800000 0x20000 0 0 $_CHIPNAME.cpu0
flash bank ucb1 tc4x_rram 0xAEC00000 0x8000 0 0 $_CHIPNAME.cpu0

targets $_CHIPNAME.cpu0
