# SPDX-License-Identifier: GPL-2.0-or-later
#
# Copyright (C) 2026 Infineon Technologies AG
#
# Board configuration for Infineon KIT_TC4D7XP_COM_TRB.
# Product page:
# https://www.infineon.com/cms/en/product/evaluation-boards/kit_tc4d7xp_com_trb/

source [find interface/tas_client.cfg]

reset_config srst_only
adapter speed 5000

source [find target/infineon/tc4dx.cfg]
