# SPDX-License-Identifier: GPL-2.0-or-later
#
# Copyright (C) 2026 Infineon Technologies AG
#
# Board configuration for Infineon KIT_A3G_TC4D7_LITE.
# Product page:
# https://www.infineon.com/cms/en/product/evaluation-boards/kit_a3g_tc4d7_lite/

source [find interface/tas_client.cfg]

reset_config srst_only
adapter speed 5000

source [find target/infineon/tc4dx.cfg]
